<div>
  <table>
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of cols"></td>
    </tr>
  </table>
  <div *ngIf="selectedShip">
    <h2>Selected Ship</h2>
    <div class="details">
      <img
        src="{{ selectedShip.imagePath }}"
        class="shipImage"
        alt="{{ selectedShip.name }}"
      />
      <h3>
        {{ selectedShip.name }}
      </h3>
      <h4>Ship Length: {{ selectedShip.shipLength }}</h4>
      <h4>Allowed on Map: {{ selectedShip.alowedNumberOfShips }}</h4>
      <h4>Orientation: {{ selectedShip.orientation }}</h4>
      <button (click)="orientation()">Orientation</button>
    </div>
  </div>
</div>
