div {
  padding: 2rem;

  table {
    height: 20rem;
    width: 20rem;
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    td {
      border: 1px solid var(--borders);
      cursor: pointer;
      margin: 0;
      background-color: var(--table);
    }
    td:hover {
      opacity: 0.8;
    }
  }
}
