.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  background-color: var(--secondary);
  padding: 1.5rem;
  gap: 1.5rem;

  .shipItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--text);
    .shipImage {
      max-height: 4rem;
      cursor: pointer;
    }
    .shipImage:hover {
      opacity: 0.8;
    }
    p {
      text-align: center;
    }
  }
}
