<div class="container">
  <div class="content">
    <table>
      <tr *ngFor="let row of grid; let i = index">
        <td
          *ngFor="let cell of row; let j = index"
          [style.background-color]="cell.backgroundColor"
        ></td>
      </tr>
    </table>
  </div>
  <div class="content">
    <table *ngIf="display">
      <tr *ngFor="let row of AIgrid; let i = index">
        <td
          *ngFor="let cell of row; let j = index"
          [style.background-color]="cell.backgroundColor"
          (click)="checkState(i, j)"
        ></td>
      </tr>
    </table>
  </div>
</div>
