<h2 *ngIf="playerWon" class="winner">You Won!!</h2>
<h2 *ngIf="aiWon" class="winner">Computer Won!! Try again next time!</h2>
<div *ngIf="!gameOver" class="container">
  <div class="content">
    <table>
      <tr *ngFor="let row of grid; let i = index">
        <td
          *ngFor="let cell of row; let j = index"
          [style.background-color]="cell.backgroundColor"
        ></td>
      </tr>
    </table>
    <h3>Player's Map</h3>
    <h4 *ngIf="!isPlayerTurn" class="enemyTurn">Enemy's Turn</h4>
  </div>
  <div class="content">
    <table *ngIf="display">
      <tr *ngFor="let row of AIgrid; let i = index">
        <td
          *ngFor="let cell of row; let j = index"
          [style.background-color]="cell.backgroundColor"
          (click)="checkState(i, j)"
        ></td>
      </tr>
    </table>
    <h3 class="enemy">Enemy Map</h3>
    <h4 *ngIf="isPlayerTurn" class="playerTurn">Player's Turn</h4>
  </div>
</div>
